*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
h3{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
footer, header, nav{
    display: block;
}

@media (min-width: 768px) {
.container{
        max-width: 720px;
    }
}


@media (min-width: 1200px) {
.container{
        max-width: 1140px;
    }
}
. {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.column1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.mtb{
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}
.rect{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.rect-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.tablo {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}
.tablo th {
    background-color: #fff !important;
}
.tablo td,
.tablo th {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}
.tablo thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.tablo tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.tablo tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}
.ortala{
    vertical-align: middle;
    text-align: center;
}
.back{
    border: 1px solid #000;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #17a2b8;
}
.btn-kirmizi {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-kirmizi:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.btn-kirmizi:focus, .btn-kirmizi.focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.btn-yesil {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-yesil:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-yesil:focus, .btn-yesil.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.th{
    text-align: inherit;
}
.navby {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem 1rem;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;

}
.nb {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff
}

.nb:hover, .nb:focus {
    text-decoration: none;
    color: #fff
}

.navby .nn .nlink {
    color: rgba(255, 255, 255, 0.5);
}

.navby .nn .nlink:hover, .navby .navbar-nav .nlink:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navby .nn .show > .nlink,
.navby .nn .aktif > .nlink{
    color: #fff;
}

.navbar-dark .navbar-text a {
    color: #fff;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: #fff;
}
.nn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: auto;
}

.nn .nlink {
    padding-right: 0;
    padding-left: 0;
}
.nlink {
    display: block;
    padding: 0.5rem 1rem;
}

.nlink:hover, .nlink:focus {
    text-decoration: none;
}
@media (min-width: 992px) {
    .navby {
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navby .nn {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navby .nn .nlink {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navby .clps {
        display: -ms-flexbox !important;
        display: flex !important;
        flex-basis: auto;
    }
}
.clps{
    flex-grow: 1;
    align-items: center;
}
